body{
/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F4F4F4 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F4F4F4 100%);

/* Opera */
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F4F4F4 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #F4F4F4));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F4F4F4 100%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to top, #FFFFFF 0%, #F4F4F4 100%);

background-repeat: no-repeat;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  width: 0px;
}

#aboutUs{;}

#tweet{;}

#twitterFollow{;}

.nodeElements:hover .twitterNodeShare {
  display: inline;
}

.btn-mini .icon-play {
  margin-top: -1px;
}

.btn-group .btn-mini .icon-play {
  margin-top: 1px;
}

.twitterNodeShare{
  display: none;
  float: right;
  vertical-align: center;
  padding-left: 0px;
  margin: 7px 10px 0px 0px;
}

.fb-like
{
  z-index: 101;
}

#socialNavTop li{
  margin-top: 10px;
  padding-left: 10px;
}

#contentContainerLeft
{
  width: 650px;
  float: left;
}

#topContent{
  border: 1px solid #cccccc;
  border-bottom: 0px;
  background-color: #000000;
}

#videoContainer
{
  margin:-20px;
  padding:0px;

}

#videoContainerCell
{
  /*min-width: 640px;*/
  height: 365px;
}

#nowPlayingTitle{
  white-space: nowrap;
  font-family: sans-serif;
  font-weight: bold;
  vertical-align: center;
  overflow:hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  padding-top: 0px;
  margin:0px 0px 0px 0px;
  width: 650px;
  height: 21px;
  border: 0px dashed gray;
}


#nowPlayingSubTitle{
  white-space: nowrap;
  font-family: sans-serif;
  font-weight: bold;
  vertical-align: top;
  overflow:hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px -20px 0px;
  width: 650px;
  height: 20px;
  border: 0px dashed gray;
}

#listControlTop
{
  background-color: #e8e8e8;
  vertical-align: middle;
  width: 656px;
  height: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

#listControlTop .btn
{
  float: right;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#listControlTop .navbar-search
{
  margin-top: -1px;
  float: left;
}

#episodeNavBar .navbar-search{
  float: right;
  margin: 5px 15px 0px 0px;
}

.listControlsBottom
{
  background-color: #cccccc;
  vertical-align: middle;
  width: 656px;
  height: 40px;
  margin-top: -20px;
  padding: 0px;
  color: #333333;
  border: 1px solid #cccccc;
  position: relative;
  z-index: 1;

}


#listOfNodes{
  margin-top: -20px;
  width: 656px;
  height: 190px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #cccccc;
  z-index: 0;
  position: relative;
  background-color: white;
}

#listOfNodes td {
  padding-bottom: 4px;
  padding-left: 12px;
  padding-top: 5px;
}

#loadingNodesOut{
  margin-top: -20px;
  width: 656px;
  height: 190px;
  overflow: scroll;
  border: 1px solid #cccccc;
  z-index: 0;
  position: relative;
  background-color: #F4F4F4;
}

#loadingNodesIn{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  width: 600px;
  z-index: 0;
  position: relative;
}

/*Node Elements*/
/*.nodeElements{*/
  /*display: block;*/
  /*width: 650px;*/
  /*padding: 0px;*/
  /*height: 60px;*/

  /*border: 2px dashed black; */
/*}*/

.nodeElements{
  display: inline-block;
  width: 637px;
  /*border: 1px dashed black;*/
  /*position: relative;*/
  /*top: 5px;*/
}

/*Play Time Controls*/
.playTime{
  width: 50px;
  margin: 0px -5px -5px -10px;
  vertical-align: center;
  display: inline-block;
  text-align: center;
  padding: -5px;
}

.playButton{
  /*display: inline;  */
  margin: 0px;
  margin-top: 2px;
  margin-bottom: -5px;
  border: 0px dashed green;
}
.playButtonTime
{
  font-size: 10px;
  margin: 5px 0px -10px 0px;
  padding: 0px 0px -10px 0px;
  display: inline-block;
  border: 0px dashed purple;
}

.icon{
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 1px 10px 0px 10px;
  padding: 0px;
  vertical-align: top;
  border: 0px dashed green;
}

audio {
  width: 640px;
}

/*
Wordy Bits
*/
/*.wordyBits {
  width: 500px;
  display: inline-block;
  /*border: 2px dashed blue;* /
}*/

/* Wordy Bits */
.wordyBits {
  /*position: relative;
  top: -5px;*/
  width: 300px;
  display: inline-block;
  /*display: inline-table;*/
  /*border: 0px dashed blue;*/
  margin-top: -35px;
  vertical-align: middle;
  /*padding-bottom: px;*/
  padding-top: 0px;
}


.category
{
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin: 0px 0px -5px 0px;
  border: 0px dashed green;
}


/*Links*/

/*a:link, a:visited, a:hover
{
  color: #333333;
}
*/
.wordLinks
{
  font-size: 15px;
  border: 0px dashed gray;
  margin-left: 0px;
  /*color: green;*/
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


a.wordLinks:link
{
  font-size: 25px;
  border: 0px dashed gray;
  margin-left: 0px;
  text-decoration: none;
  color: blue;
}

a.wordLinks:visited
{
  font-size: 25px;
  border: 0px dashed gray;
  margin-left: 0px;
  text-decoration: none;
  color: blue;
}

a.wordLinks:hover
{
  font-size: 25px;
  border: 0px dashed gray;
  margin-left: 0px;
  text-decoration: none;
  color: blue;
}


.listControlLinks > a:link
{
  color:333333;
}

.listControlLinks > a:visited
{
  color:#333333;
}

.listControlLinks > a:hover
{
  color:#333333;
}

.red a:link{
  color:#333333;
}

.red a:visited{
  color:#333333;
}

.red a:hover{
  color:#333333;
  text-decoration: underline;
}


.episodeList{
  width: 241px;
  float:right;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  /*font-family: sans-serif;
  border: 1px solid gray;*/
  margin-top: 10px;
  margin-right: 12px;
  /*padding-right: -20px;*/
}
.episodeList li a{

  background-color: white;

}

/*
Nav Bar Brand
*/
.navbar .brand2 {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -10px;
  font-size: 20px;
  font-weight: bold;
  color: #777777;
  /*text-shadow: 0 1px 0 #ffffff;*/
}

.navbar .brand2:hover {
  text-decoration: none;
}

#tableTitleRow{
  font-weight: bold;
}

#trashNode{
  margin-left: 12px;
  margin-right: auto;
  vertical-align: center;
}

#infoStatusBadge
{
  position: absolute;
  margin-left: 60px;
  z-index: 100;
  font-weight: bold;
  text-transform: lowercase;
  font-family: cursive;
}

#newNode{
  float: left;
  margin-right:0px;
}

#totalTopics{
  float: right;
  margin-top: -15px;
}

.newNodeNav{
  display: inline-block;
  margin-bottom: -10px;
  margin-top: -10px;
  margin-left: 1px;
}

/*
NodeType creation modal
*/

#node-type-creator .modal-body {
  height: 800px;
}

.icon-pane {
  margin-left: 23px;
}

.icon-pane ul {
  list-style: none;
  overflow: hidden;
  width: 432px;
  height: 800px;
}

.icon-pane li {
  display: inline-block;
  width: 72px;
  height: 72px;
  /*min-width: 40px;
  min-height: 40px;*/
}

.icon-pane li img {
  max-width: 70px;
  max-height: 70px;
}

.icon-pane li.active-icon {
  background-color: yellow;
  border-width: 1px;
  border-color: black;
  border-radius: 15px;
}

/*In Place Editing*/
.in-place-input input {
  margin-left: -7px;
  margin-bottom: 0px;
}

input.in-place-input {
  margin-left: -7px;
  margin-bottom: 0px;
}

.in-place-display {
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-top: 5px;
}

.in-place-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td .in-place-display {
  height: 26px;
}

#message {
  position: absolute;
  text-align: center;
  position: absolute;
  text-align: center;
  margin-top: 5px;
  z-index: 1031;
}

/* Table Cell Styles */
.table tbody tr td.success {
  background-color: #dff0d8;
}

.table tbody tr td.error {
  background-color: #f2dede;
}

.table tbody tr td.warning {
  background-color: #fcf8e3;
}

.table tbody tr td.info {
  background-color: #d9edf7;
}

.table .span4 .in-place-display a {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  display: inline-block;
  overflow: hidden;
}

.table .span2 .in-place-display a {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 140px;
  display: inline-block;
  overflow: hidden;
}

/* Mini player */
#mini-play-controls .btn-group {
  margin-left: 3px;
}

#mini-play-controls .btn-group .btn-mini {
  padding: 0px 7px 4px 9px;
}

#mini-play-controls .btn-group .btn-mini:first-child {
  padding: 0px 9px 4px 7px;
}

/* Sticky scroll past divs */
.sticky {
}

.sticky-anchor.active {
  height: 36px;
}

.stuck {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  top: 12px;
  height: 33px;
  margin-left: 85px;
  padding-top: 3px;
  padding-left: 8px;

  background-color: #fff;
  position: fixed;
  z-index: 10000;
}